<div class="panel panel-default" style="overflow-x:  auto;">
    <div class="panel-heading text-center">
        <div class="pull-left">
            <a data-ui-sref="admin.masters"
               class="btn btn-default">
                <i class="fa fa-arrow-left"></i>
                Back
            </a>
        </div>
        <div class="pull-right">
            <a data-ui-sref="admin.masters_party.add"
               class="btn btn-default">
                <i class="fa fa-plus"></i>
                Add Max Wardrobe
            </a>
        </div>
        <div>
            <h4>Max Wardrobe MRP Master</h4>
        </div>
    </div>    
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th class="text-right">#</th>
                <th>Category</th>
                <th>Product Code</th>
                <th>Description</th>
                <th>Width</th>
                <th>Depth</th>                
                <th>Height</th> 
                <th>Image Available</th>
                <th class="text-right">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="maxWardrobe in mainMaxWardrobeMrpArray">
                <td data-title="#" class="text-right">{{ $index + 1}}</td>
                <td data-title="Category">{{ maxWardrobe.category}}</td>   
                <td data-title="Product Code">{{ maxWardrobe.productCode}}</td>  
                <td data-title="Description">{{ maxWardrobe.description}}</td>
                <td data-title="Width">{{ maxWardrobe.width}} mm</td>
                <td data-title="Depth">{{ maxWardrobe.depth}} mm</td>
                <td data-title="Height">{{ maxWardrobe.height}} mm</td>
                <td>
                    <span ng-if="maxWardrobe.image === null || maxWardrobe.image === 'Default.jpg'"><label class="label label-danger">Not Available</label></span> 
                    <span ng-if="maxWardrobe.image !== null"><label class="label label-success">Available</label></span> 
                </td>                
                <td data-title="Actions" class="text-right">
                    <a data-ui-sref="admin.masters_max_wardrobe_mrp.photo({ maxWardrobeMrpId: maxWardrobe.id })"
                       class="btn btn-primary">					
                        <i class="fa fa-upload"></i>
                    </a>
                    <a data-ui-sref="admin.masters_max_wardrobe_mrp.edit({ maxWardrobeMrpId: maxWardrobe.id })"
                       class="btn btn-primary">					
                        <i class="fa fa-pencil"></i>
                    </a>
                    <a data-ui-sref="admin.masters_max_wardrobe_mrp.delete({ maxWardrobeMrpId: maxWardrobe.id })"
                       class="btn btn-danger">
                        <i class="fa fa-trash"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
    <!--    <nav class="panel-footer">
            <ul class="pager">
                <li>
                    <button ng-click="previousPage()" 
                            ng-disabled="{{ currentOffset == 0}}" 
                            class="btn btn-default" >
                        <i class="fa fa-arrow-left"></i>
                        Previous
                    </button>
                </li>
                <li>
                    <button ng-click="nextPage()"
                            ng-disabled="parties.length < 10 || nextParty.length === 0"
                            class="btn btn-default">
                        Next 
                        <i class="fa fa-arrow-right"></i>
                    </button>
                </li>
            </ul>
        </nav>
    </div>-->
    <div data-ui-view=""></div>