<div class="modal modal-digitalbusiness">
    <div class="modal-backdrop fade in"></div>
    <div class="modal-dialog">
        <form role="form" ng-submit="saveColorConstraint(editableColorConstraint)">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">
                        <i class="fa fa-user"></i>
                        Color Constraint Form
                    </h3>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Component</label>
                                <!--<input class="form-control" placeholder="Color Name" ng-model="editableColor.colorName" required=""/>-->
                                <select class="form-control" ng-model="editableColorConstraint.component">
                                    <option value="">Select Component</option>
                                    <option value="CARCASE">Carcass</option>
                                    <option value="SHUTTER">Shutter</option>
                                    <option value="MEMBRANE_GLOSSY_MDF">Membrane Glossy MDF</option>
                                    <option value="MEMBRANE_DESIGNER_MDF">Membrane Designer MDF</option>
                                    <option value="MEMBRANE_STANDARD_MDF">Membrane Standard MDF</option>
                                    <option value="MEMBRANE_GLOSSY_HDF">Membrane Glossy HDF</option>
                                    <option value="MEMBRANE_DESIGNER_HDF">Membrane Designer HDF</option>
                                    <option value="MEMBRANE_STANDARD_HDF">Membrane Standard HDF</option>
                                    <option value="HPL_MR_GLOSS_PLY">HPL MR+GLOSS PLY</option>
                                    <option value="HPL_HIGH_GLOSS_PLY">HPL HIGH GLOSS PLY</option>
                                    <option value="HPL_MATT_PLY">HPL Matt PLY</option>
                                    <option value="ORIENTAL_ACRYLIC_SOLID_HDF">Oriental Acrylic Solid HDF</option>
                                    <option value="ORIENTAL_ACRYLIC_WOODGRAIN_HDF">Oriental Acrylic Woodgrain HDF</option>
                                    <option value="MILANO_ACRYLIC_STD_PLY">Milano Acrylic Standard PLY</option>
                                    <option value="MILANO_ACRYLIC_PREMIUM_PLY">Milano Acrylic Premium PLY</option>
                                    <option value="POLYMER_GLOSSY_MDF">Polymer Glossy MDF</option>
                                    <option value="PU_LACQURED_SOLID_HDF">PU Lacqured Solid HDF</option>
                                    <option value="PU_LACQURED_METTALIC_HDF">PU Lacqured Metallic HDF</option>
                                    <option value="PU_LACQURED_SOLID_PLY">PU Lacqured Solid PLY</option>
                                    <option value="PU_LACQURED_METTALIC_PLY">PU Lacqured Metallic PLY</option>
                                    <option value="PU_LACQURED_SOLID_MDF">PU Lacqured Solid MDF</option>
                                    <option value="PU_LACQURED_METTALIC_MDF">PU Lacqured Metallic MDF</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Material Code</label>
                                <!--<input class="form-control" placeholder="Material Code" ng-model="editableColorConstraint.materialCode" required=""/>-->
                                <select class="form-control" ng-model="editableColorConstraint.materialCode">
                                    <option value="">Select Material Code</option>
                                    <option ng-repeat="material in rawMaterialList" value="{{material.materialCode}}">{{material.material}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <!--                    <div class="row">
                                            <div class="col-sm-6 text-danger" ng-show="editableColor.repeatName">
                                                Found Records For Above Entered Name
                                            </div>
                                            <div class="col-sm-6 text-danger" ng-show="editableColor.repeatCode">
                                                Repeat Component Code is not allowed.Enter unique code.
                                            </div>
                                        </div>-->
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Color Options Available</label>
                                <input class="form-control"
                                       placeholder="Select Colors Availble"
                                       uib-typeahead="colors.id as colors.colorName for colors in searchColors($viewValue)"
                                       typeahead-on-select="setColor($item)"
                                       typeahead-editable="false"
                                       typeahead-loading="loadingColor" 
                                       typeahead-no-results="noColorFound"
                                       ng-model="colorName" />
                                <p ng-show="noColorFound" class="help-block text-muted">No Colors Found</p>
                                <p ng-show="loadingColor" class="help-block text-muted">Loading...</p>                                
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Finish (Optional)</label>
                                <select class="form-control" ng-model="editableColorConstraint.finishCode" required="">
                                    <option value="">Select Finish Code</option>
                                    <option ng-repeat="finish in finishList" value="{{finish.finishCode}}">{{finish.finishName}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <ul ng-repeat="color in colorDisplay" class="left_margin">
                                <li class="col-md-8">
                                    {{color.colorName}} 
                                </li>
                                <li class="col-md-4 list-unstyled">
                                    <button type="button" ng-click="removeColors(color)" class="btn btn-link top_padding">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-6">                            
                        </div>

                    </div>                    

                    <div class="modal-footer">
                        <button class="btn btn-lg btn-primary">
                            <i class="fa fa-save"></i>
                            Save
                        </button>
                        <button type="button"
                                onclick="window.history.back()"
                                class="btn btn-link" >
                            cancel
                        </button>				
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
