<div class="panel panel-default">
    <div class="panel-heading text-center">
        <div class="pull-left">
            <a data-ui-sref="admin.masters"
               class="btn btn-default">
                <i class="fa fa-arrow-left"></i>
                Back
            </a>
        </div>
        <div class="pull-right">
            <a data-ui-sref="admin.masters_section_profile.add"
               class="btn btn-default">
                <i class="fa fa-plus"></i>
                Add Section Profile
            </a>
        </div>
        <div>
            <h4>Section Profile Master</h4>
        </div>
    </div>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th class="text-right">#</th>
                <th>Name</th>
                <th>Direction</th>
                <th>Carcass type</th>
                <th>Price</th>
                <th class="text-right">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="sectionProfile in sectionProfiles track by $index">
                <td data-title="#" class="text-right">{{ currentOffset + $index + 1}}</td>
                <td data-title="Name">{{ sectionProfile.name}}</td>   
                <td data-title="Direction">{{ sectionProfile.direction}}</td>  
                <td data-title="Carcass type">{{ sectionProfile.carcassType}}</td>
                <td data-title="Price">{{ sectionProfile.price}}</td>
                <td data-title="Actions" class="text-right">
                    <a data-ui-sref="admin.masters_section_profile.edit({ sectionProfileId: sectionProfile.id })"
                       class="btn btn-primary">					
                        <i class="fa fa-pencil"></i>
                    </a>
                    <a data-ui-sref="admin.masters_section_profile.delete({ sectionProfileId: sectionProfile.id })"
                       class="btn btn-danger">
                        <i class="fa fa-trash"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
    <nav class="panel-footer">
        <ul class="pager">
            <li>
                <button ng-click="previousPage()" 
                        ng-disabled="{{ currentOffset == 0}}" 
                        class="btn btn-default" >
                    <i class="fa fa-arrow-left"></i>
                    Previous
                </button>
            </li>
            <li>
                <button ng-click="nextPage()"
                        ng-disabled="sectionProfiles.length < 10 || nextSectionProfiles.length === 0"
                        class="btn btn-default">
                    Next 
                    <i class="fa fa-arrow-right"></i>
                </button>
            </li>
        </ul>
    </nav>
</div>
<div data-ui-view=""></div>