<div class="modal modal-digitalbusiness">
    <div class="modal-backdrop fade in"></div>
    <div class="modal-dialog">
        <div class="modal-content">
            <form role="form">
                <div class="modal-header">
                    <h3 class="modal-title">Want to add more Cornice?</h3>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <p>
                                To add more Cornice click on buttons present below for following functions :
                            </p>
                            <ul>
                                <li>To Add Complete New Cornice, Click on <b>"Add New Cornice"</b>.</li>
                                <li>To Add Cornice Fronts By Pre Fetching Values from previously Entered Cornice, Click on <b>"Add Cornice with Value"</b>.</li>
                                <li>To Get Back To Order Details Page, Click on <b>"Done"</b>.</li>
                            </ul>                            
                        </div>						
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-lg btn-primary" type="button" data-ui-sref="#">
                        <i class="fa fa-plus"></i>
                        Add New Cornice
                    </button>
                    <button class="btn btn-lg btn-primary" type="button" data-ui-sref="#">
                        <i class="fa fa-plus"></i>
                        <i class="fa fa-plus"></i>
                        Add Cornice with Value
                    </button>
                    <button class="btn btn-lg btn-primary" 
                            type="button"
                            data-ui-sref="#">
                        Done
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>