<div class="modal modal-digitalbusiness">
    <div class="modal-backdrop fade in"></div>
    <div class="modal-dialog">
        <div class="modal-content">
            <form role="form">
                <div class="modal-header">
                    <h3 class="modal-title">Want to add more Shutter?</h3>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <p>
                                To add more Shutters click on buttons present below for following functions :
                            </p>
                            <ul>
                                <li>To Add Complete New Shutter, Click on <b>"Add New Shutter"</b>.</li>
                                <li>To Add Shutter By Pre Fetching Values from previously Entered Shutter, Click on <b>"Add Shutter with Value"</b>.</li>
                                <li>To Get Back To Order Details Page, Click on <b>"Done"</b>.</li>
                            </ul>                            
                        </div>						
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-lg btn-primary" type="button" data-ui-sref="admin.shutter_repeat_add({ orderHeadId: orderHeadId})">
                        <i class="fa fa-plus"></i>
                        Add New Shutter
                    </button>
                    <button class="btn btn-lg btn-primary" type="button" data-ui-sref="admin.shutter_repeat_add({ orderHeadId: orderHeadId, shutterDetailId: shutterDetailId})">
                        <i class="fa fa-plus"></i>
                        <i class="fa fa-plus"></i>
                        Add Shutter with Value
                    </button>
                    <button class="btn btn-lg btn-primary" 
                            type="button"
                            data-ui-sref="admin.masters_order_details({ orderHeadId: orderHeadId})">
                        Done
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>