<div class="panel panel-default" style="overflow-x:  auto;">
    <div class="panel-heading text-center">
        <div class="pull-left">
            <a data-ui-sref="admin.masters"
               class="btn btn-default">
                <i class="fa fa-arrow-left"></i>
                Back
            </a>
        </div>
        <div class="pull-right">
            <a data-ui-sref="admin.masters_party.add"
               class="btn btn-default">
                <i class="fa fa-plus"></i>
                Add Ultima Wardrobe
            </a>
        </div>
        <div>
            <h4>Ultima Wardrobe Master</h4>
        </div>
    </div>    
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th class="text-right">#</th>
                <th>Category</th>
                <!--<th>Product Code</th>-->
                <th>Description</th>
                <th>Width</th>
                <th>Depth</th>                
                <th>Height</th>
                <th>Image Available</th>
                <th class="text-right">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="ultimaWardrobe in mainUltimaWardrobeArray">
                <td data-title="#" class="text-right">{{ $index + 1}}</td>
                <td data-title="Category">{{ ultimaWardrobe.category}}</td>   
                <!--<td data-title="Product Code">{{ infinityWardrobe.productCode}}</td>-->  
                <td data-title="Description">{{ ultimaWardrobe.description}}</td>
                <td data-title="Width">{{ ultimaWardrobe.width}} mm</td>
                <td data-title="Depth">{{ ultimaWardrobe.depth}} mm</td>
                <td data-title="Height">{{ ultimaWardrobe.height}} mm</td>                
                <td>
                    <span ng-if="ultimaWardrobe.image === null || ultimaWardrobe.image === 'Default.jpg'"><label class="label label-danger">Not Available</label></span> 
                    <span ng-if="ultimaWardrobe.image !== null"><label class="label label-success">Available</label></span> 
                </td>
                <td data-title="Actions" class="text-right">
                    <a data-ui-sref="admin.masters_ultima_wardrobe.photo({ ultimaWardrobeId: ultimaWardrobe.id })"
                       class="btn btn-primary">					
                        <i class="fa fa-upload"></i>
                    </a>
                    <a data-ui-sref="admin.masters_ultima_wardrobe.edit({ infinityWardrobeId: ultimaWardrobe.id })"
                       class="btn btn-primary">					
                        <i class="fa fa-pencil"></i>
                    </a>
                    <a data-ui-sref="admin.masters_ultima_wardrobe.delete({ infinityWardrobeId: ultimaWardrobe.id })"
                       class="btn btn-danger">
                        <i class="fa fa-trash"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
<div data-ui-view=""></div>