<div class="panel panel-default">
    <div class="panel-heading text-center">
        <div class="pull-left">
            <a data-ui-sref="admin.masters" class="btn btn-default">
                <i class="fa fa-arrow-left"></i>
                Back
            </a>            
        </div>       
        <div>
            <h4>Order History</h4>
        </div>
    </div>
    <div class="panel-heading text-center">        
        <form ng-submit="searchByParty()">
            <div class="row">
                <div class="col-sm-9">
                    <input class="form-control"
                           placeholder="Search Order By Party"
                           uib-typeahead="party.dealerName as party.dealerName for party in searchParties($viewValue)"
                           typeahead-on-select="setParty($item)"
                           typeahead-editable="false"
                           typeahead-loading="loadingParty" 
                           typeahead-no-results="noPartyFound"
                           ng-model="partyObject.dealerName" />
                    <p ng-show="noPartyFound" class="help-block text-muted">No Party Found</p>
                    <p ng-show="loadingParty" class="help-block text-muted">Loading...</p>
                </div>
                <div class="col-sm-2">
                    <button type="submit" class="btn btn-primary pull-right">Search By Party</button>
                </div>
                <div class="col-sm-1">
                    <button type="button" class="btn btn-primary pull-left" ng-click="clearSearch()">
                        <i class="fa fa-times"></i>
                    </button>
                </div>
            </div>            
        </form>
    </div>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th class="text-right">#</th>
                <th>PO Date</th>
                <th>Order Number</th>
                <th>Project Name</th>
                <th>Billing Party</th>
                <!--<th>Delivery Party</th>-->
                <th>PO Number</th>                                                             
                <th class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="orderHead in mainOrderArray">
                <td data-title="#" class="text-right">{{$index + 1}}</td>
                <td data-title="PO Date">{{ orderHead.poDate | date:"mediumDate"}}</td>
                <td data-title="Order Number">{{ orderHead.orderNum}}</td>
                <td data-title="Project Name">{{ orderHead.projectName}}</td>                    
                <td data-title="Billing Party">{{ orderHead.billingPartyObject.dealerName}}</td>
                <!--<td data-title="Delivery Party">{{ orderHead.deliveryPartyObject.dealerName}}</td>-->
                <td data-title="PO Number">{{ orderHead.poNum}}</td>                 
                <td data-title="Actions" class="text-right">
                    <a data-ui-sref="admin.masters_dealer_order_details({orderHeadId: orderHead.id})"
                       class="btn btn-primary">					
                        <i class="fa fa-info-circle"></i>
                        Order Details
                    </a>
                    <a data-ui-sref="admin.masters_order_details({orderHeadId: orderHead.id})"
                       class="btn btn-primary" ng-hide="orderHead.approved === true">
                        <i class="fa fa-pencil"></i>
                        Edit Order
                    </a>

                    <a data-ui-sref="admin.masters_order_history.order_approve({orderHeadId: orderHead.id})"
                       class="btn btn-primary" ng-hide="orderHead.approved === true">
                        <i class="fa fa-check"></i>
                        Approve
                    </a>
                    <a data-ui-sref="admin.order_head_delete({orderHeadId: orderHead.id})"
                       class="btn btn-primary" ng-hide="orderHead.approved === true">
                        <i class="fa fa-trash"></i>
                        Delete
                    </a>
                    <a data-ui-sref="admin.masters_order_history.order_unapprove({orderHeadId: orderHead.id})"
                       class="btn btn-primary" ng-show="orderHead.approved === true">
                        <i class="fa fa-undo"></i>
                        Unapprove
                    </a>
                    <a target="_blank" data-ui-sref="dealer_proforma_invoice_display({ orderHeadId : orderHead.id, userId: loggedUserId})">
                        <button class="btn btn-primary" >
                            <i class="fa fa-print"></i>
                            Generate Proforma Invoice
                        </button>
                    </a>
<!--                    <a target="_blank" data-ui-sref="customer_proforma_invoice_display({ orderHeadId : orderHead.id})">
                        <button class="btn btn-primary" >
                            <i class="fa fa-print"></i>
                            Generate Customer Proforma Invoice
                        </button>
                    </a>-->
                    <!--                    <a data-ui-sref="admin.masters_party.delete({ partyId: party.id })"
                                           class="btn btn-danger">
                                            <i class="fa fa-trash"></i>
                                        </a>-->
                </td>
            </tr>
        </tbody>
    </table>
    <!--    <nav class="panel-footer">
            <ul class="pager">
                <li>
                    <button ng-click="previousPage()" 
                            ng-disabled="{{ currentOffset == 0}}" 
                            class="btn btn-default" >
                        <i class="fa fa-arrow-left"></i>
                        Previous
                    </button>
                </li>
                <li>
                    <button ng-click="nextPage()"
                            ng-disabled="parties.length < 10 || nextParty.length === 0"
                            class="btn btn-default">
                        Next 
                        <i class="fa fa-arrow-right"></i>
                    </button>
                </li>
            </ul>
        </nav>-->
</div>
<div data-ui-view=""></div>