<div class="panel panel-default">
    <div class="panel-heading text-center">       
        <div class="pull-left">
            <a data-ui-sref="admin.masters"
               class="btn btn-default">
                <i class="fa fa-arrow-left"></i>
                Back
            </a>
        </div>
        <div class="pull-right">            
        </div>
        <div>
            <h3>Order Entry</h3>
        </div>
        <form role="role" ng-submit="saveOrderHead(editableOrderHead)">
            <div class="modal-header">
                <h4 class="modal-title pull-left">                        
                    Basic Details
                </h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label>Segment</label>
                            <!--<input class="form-control" placeholder="Dealer Code" ng-model="editableParty.dealerCode" required=""/>-->
                            <select class="form-control" ng-model="editableOrderHead.segment">
                                <option value="">Select Segment</option>
                                <option ng-repeat="segment in segmentList" value="{{segment.segmentCode}}">{{segment.segment}}</option>                                
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label>Sale Type</label>
                            <!--<input class="form-control" placeholder="Dealer Name" ng-model="editableParty.dealerName" required=""/>-->
                            <select class="form-control" ng-model="editableOrderHead.saleType">
                                <option value="">Select Sale Type</option>
                                <option ng-repeat="saleType in saleTypeList" value="{{saleType.saleTypeCode}}">{{saleType.saleType}}</option>                                
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label>Type</label>
                            <!--<input class="form-control" placeholder="Dealer Code" ng-model="editableParty.dealerCode" required=""/>-->
                            <select class="form-control" ng-model="editableOrderHead.entryType">
                                <option value="">Select Type</option>
                                <option value="NON_PROJECTS">NON PROJECTS</option>                                
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label>Order Type</label>
                            <!--<input class="form-control" placeholder="Dealer Name" ng-model="editableParty.dealerName" required=""/>-->
                            <select class="form-control" ng-model="editableOrderHead.orderType">
                                <option value="">Select Order Type</option>
                                <option value="COMPONENTS">COMPONENTS</option>                                
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="modal-body row">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="modal-header">
                            <h4 class="modal-title pull-left">                        
                                Billing Party Details
                            </h4>
                        </div>
                        <div class="modal-body">

                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Party Code</label>
                                        <!--<input class="form-control" placeholder="Dealer Code" required=""/>-->                                    
                                        <input class="form-control"
                                               placeholder="Enter Party Name"
                                               uib-typeahead="party.id as party.dealerName for party in searchParty($viewValue)"
                                               typeahead-on-select="setParty($item)"
                                               typeahead-editable="false"
                                               typeahead-loading="loadingParty" 
                                               typeahead-no-results="noPartyFound"                                       
                                               ng-model="editableOrderHead.party.dealerCode" required=""/>
                                        <p ng-show="noPartyFound" class="help-block text-muted">No Parties Found</p>
                                        <p ng-show="loadingParty" class="help-block text-muted">Loading...</p>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="col-sm-6">Party Name</label>
                                        <!--<span class="col-sm-6 text-left">{{editableOrderHead.party.dealerName}}</span>-->
                                        <input class="form-control" placeholder="Party Name" ng-model="editableOrderHead.party.dealerName" readonly="">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <label class="text-left">Party Address :</label>
                                    <br>
                                    <span class="text-left" ng-if="editableOrderHead.billingAdd1 != ''">
                                        {{editableOrderHead.party.billingAdd1}}, {{editableOrderHead.party.billingAdd2}}
                                    </span>                     
                                    <br>
                                    <span class="text-left">{{editableOrderHead.party.billingEmail}}</span>
                                    <br>
                                    <span>{{editableOrderHead.party.billBoardTel}} / {{editableOrderHead.party.directTelNo}}</span>
                                    <hr>
                                </div>
                            </div>
                            <!--                            <div class="row">
                                                            <div class="col-sm-6">
                                                                                                    <div class="form-group">
                                                                                                        <label>Address 1</label>
                                                                                                        <input class="form-control" placeholder="Billing Address 1" ng-model="editableOrderHead.party.billingAdd1" readonly=""/>
                                                                                                    </div>
                                                                <label class="col-sm-5 text-left">Address 1 :</label>
                                                                <span class="col-sm-7 text-left">{{editableOrderHead.party.billingAdd1}}</span>
                                                            </div>
                                                            <div class="col-sm-6">
                                                                                                    <div class="form-group">
                                                                                                        <label>Address 2</label>
                                                                                                        <input class="form-control" placeholder="Billing Address 2" ng-model="editableOrderHead.party.billingAdd2" readonly=""/>
                                                                                                    </div>
                                                                <label class="col-sm-5 text-left">Address 2 :</label>
                                                                <span class="col-sm-7 text-left">{{editableOrderHead.party.billingAdd2}}</span> 
                                                            </div>
                                                        </div>
                                                                                    <div class="row">
                                                                                        <div class="col-sm-6">
                                                                                            <div class="form-group">
                                                                                                <label>Address 3</label>
                                                                                                <input class="form-control" placeholder="Billing Address 3" ng-model="editableOrderHead.party.billingAdd3" readonly=""/>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="col-sm-6">
                                                                                            <div class="form-group">
                                                                                                <label>Address 4</label>
                                                                                                <input class="form-control" placeholder="Billing Address 4" ng-model="editableOrderHead.party.billingAdd4" readonly=""/>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                        <div class="row">
                                                            <div class="col-sm-6">
                                                                                                    <div class="form-group">
                                                                                                        <label>Email</label>
                                                                                                        <input class="form-control" placeholder="Billing Email" ng-model="editableOrderHead.party.billingEmail" readonly=""/>
                                                                                                    </div>
                                                                <label class="col-sm-5 text-left">Email 2 :</label>
                                                                <span class="col-sm-7 text-left">{{editableOrderHead.party.billingEmail}}</span> 
                                                            </div>
                                                            <div class="col-sm-6">
                                                                                                    <div class="form-group">
                                                                                                        <label>Fax</label>
                                                                                                        <input class="form-control" placeholder="Billing Fax" ng-model="editableOrderHead.party.billingFax" readonly=""/>
                                                                                                    </div>
                                                                <label class="col-sm-5 text-left">Fax :</label>
                                                                <span class="col-sm-7 text-left">{{editableOrderHead.party.billingFax}}</span> 
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-sm-6">
                                                                                                    <div class="form-group">
                                                                                                        <label>Board Telephone</label>
                                                                                                        <input class="form-control" placeholder="Bill Board Telephone" ng-model="editableOrderHead.party.billBoardTel" readonly=""/>
                                                                                                    </div>
                                                                <label class="col-sm-5 text-left">Board Telephone :</label>
                                                                <span class="col-sm-7 text-left">{{editableOrderHead.party.billBoardTel}}</span> 
                                                            </div>
                                                            <div class="col-sm-6">
                                                                                                    <div class="form-group">
                                                                                                        <label>Direct Telephone Number</label>
                                                                                                        <input class="form-control" placeholder="Billing Fax" ng-model="editableOrderHead.party.directTelNo" readonly=""/>
                                                                                                    </div>
                                                                <label class="col-sm-5 text-left">Direct Tel No :</label>
                                                                <span class="col-sm-7 text-left">{{editableOrderHead.party.directTelNo}}</span> 
                                                            </div>
                                                        </div>-->
                            <div class="row">
                                <div class="col-sm-6">
                                    <!--                                    <div class="form-group">
                                                                            <label>PAN Number</label>
                                                                            <input class="form-control" placeholder="PAN Number" ng-model="editableOrderHead.party.panNumber" readonly=""/>
                                                                        </div>-->
                                    <label class="col-sm-5 text-left">PAN No :</label>
                                    <span class="col-sm-7 text-left">{{editableOrderHead.party.panNumber}}</span> 
                                </div>
                                <div class="col-sm-6">
                                    <!--                                    <div class="form-group">
                                                                            <label>GST Number</label>
                                                                            <input class="form-control" placeholder="VAT Number" ng-model="editableOrderHead.party.vatNumber" readonly=""/>
                                                                        </div>-->
                                    <label class="col-sm-5 text-left">GST No :</label>
                                    <span class="col-sm-7 text-left">{{editableOrderHead.party.gstNumber}}</span> 
                                </div>
                            </div>                            
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="modal-header">
                            <h4 class="modal-title pull-left">                        
                                Delivery Party Details
                            </h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Party Code</label>
                                        <input class="form-control"
                                               placeholder="Enter Party Name"
                                               uib-typeahead="party.id as party.dealerName for party in searchParty($viewValue)"
                                               typeahead-on-select="setParty1($item)"
                                               typeahead-editable="false"
                                               typeahead-loading="loadingParty1" 
                                               typeahead-no-results="noParty1Found"                                       
                                               ng-model="editableOrderHead.party1.dealerCode" required=""/>
                                        <p ng-show="noParty1Found" class="help-block text-muted">No Parties Found</p>
                                        <p ng-show="loadingParty1" class="help-block text-muted">Loading...</p>                                        

                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Party Name</label>
                                        <input class="form-control" placeholder="Party Name" ng-model="editableOrderHead.party1.dealerName" >
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Address 1</label>
                                        <input class="form-control" placeholder="Address 1" ng-model="editableOrderHead.party1.billingAdd1" />
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Address 2</label>
                                        <input class="form-control" placeholder="Address 2" ng-model="editableOrderHead.party1.billingAdd2" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Address 3</label>
                                        <input class="form-control" placeholder="Address 3" ng-model="editableOrderHead.party1.billingAdd3" />
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Address 4</label>
                                        <input class="form-control" placeholder="Address 4" ng-model="editableOrderHead.party1.billingAdd4" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Party Email</label>
                                        <input class="form-control" placeholder="Party Email" ng-model="editableOrderHead.party1.billingEmail" />
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Postal Code</label>
                                        <input class="form-control" placeholder="Postal Code" ng-model="editableOrderHead.postalCode" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">                                
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Direct Telephone Number</label>
                                        <input class="form-control" placeholder="Billing Fax" ng-model="editableOrderHead.party1.directTelNo"/>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Telephone Number</label>
                                        <input class="form-control" placeholder="Bill Board Telephone" ng-model="editableOrderHead.party1.billBoardTel"/>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Fax Number</label>
                                        <input class="form-control" placeholder="FAX Number" ng-model="editableOrderHead.party1.billingFax"/>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>City</label>
                                        <input class="form-control" placeholder="City" ng-model="editableOrderHead.party1.city"/>
                                    </div>
                                </div>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="modal-body row">
                    <div class="modal-header">
                        <h4 class="modal-title pull-left">                        
                            Commercial Details
                        </h4>
                    </div>
                    <!--<div class="modal-body">-->
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Bill Type</label>
                                <!--<input class="form-control" placeholder="Dealer Code" ng-model="editableParty." required=""/>-->                                    
                                <select class="form-control" ng-model="editableOrderHead.billType">
                                    <option value="">Select Bill Type</option>
                                    <option value="D">DIRECT SALES</option>
                                    <option value="T">TRANSFER</option>
                                    <option value="R">RE-PROCESSING</option>
                                    <option value="S">SELF CONSUMPTION</option>
                                    <option value="E">EXPORT INCLUDING NEPAL</option>
                                    <option value="X">SEZ-1/2 (NO TAX)</option>
                                    <option value="C">CT3</option>                                        
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Order Sub Type</label>
                                <!--<input class="form-control" placeholder="Party Name" ng-model="editableOrderHead.party.dealerName" readonly="">-->
                                <select class="form-control" ng-model="editableOrderHead.orderSubType">
                                    <option value="">Select Order Sub Type</option>
                                    <option value="T">SERVICE ORDER</option>
                                    <option value="N">NORMAL</option>
                                    <option value="D">DISPLAY</option>
                                    <option value="R">REPLACEMENT</option>
                                    <option value="S">STOCK</option>
                                    <option value="C">COMMERCIAL</option>
                                    <option value="F">FOC</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Project Name</label>
                                <input type="text" class="form-control" placeholder="Project Name" ng-model="editableOrderHead.projectName">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>PO Number</label>
                                <input type="text" class="form-control" placeholder="Purchase Order Number" ng-model="editableOrderHead.poNum">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Cust Order ID</label>
                                <input type="text" class="form-control" placeholder="Will Be Generated Automati" ng-model="editableOrderHead.orderId">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>PO Date</label>
                                <input class="form-control" type="date" placeholder="DD-MM-YYYY" ng-model="editableOrderHead.poDate"/>                                
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>PO Value</label>
                                <input class="form-control" type="number" placeholder="To be Filled after PI is Approved" ng-model="editableOrderHead.poValue" readonly=""/>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Marketing Head</label>
                                <!--<input class="form-control" type="text" placeholder="Enter Marketing Head" ng-model="editableOrderHead.marketingHead"/>-->
                                <input class="form-control"
                                       placeholder="Enter Marketing Head"
                                       uib-typeahead="employee.empName as employee.empName for employee in searchEmployee($viewValue)"
                                       typeahead-on-select="setEmployee($item)"
                                       typeahead-editable="false"
                                       typeahead-loading="loadingEmployee" 
                                       typeahead-no-results="noEmployeeFound"                                       
                                       ng-model="editableOrderHead.employee.empName" required=""/>
                                <p ng-show="noEmployeeFound" class="help-block text-muted">No Employees Found</p>
                                <p ng-show="loadingEmployee" class="help-block text-muted">Loading...</p>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Order Initiated By</label>
                                <input type="text" class="form-control" placeholder="Order Initiated By" ng-model="editableOrderHead.user.username" readonly="">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Rate Applicability</label>
                                <!--<input class="form-control" type="text" placeholder="DD-MM-YYYY" ng-model="editableOrderHead.poDate"/>-->
                                <select class="form-control" ng-model="editableOrderHead.rateApplicability">
                                    <option value="">Select Rate Applicability</option>
                                    <option value="C">RATE CONTRACT</option>
                                    <option value="A">RATE ANNEXURE</option>
                                    <option value="M">MANUAL</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Rate Contract</label>                                
                                <select class="form-control" ng-model="editableOrderHead.rateContract">                                    
                                    <option value="">Select Rate Contract</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>ORC Per</label>
                                <input class="form-control" type="text" placeholder="ORC Percentage" ng-model="editableOrderHead.orcPer"/>
                            </div>
                        </div>
                    </div>                    
                </div>                
            </div>
            <div class="modal-footer">
                <button class="btn btn-lg btn-primary">
                    <i class="fa fa-save"></i>
                    Save
                </button>
                <button type="button"
                        onclick="window.history.back()"
                        class="btn btn-link" >
                    cancel
                </button>				
            </div>
        </form>
    </div>
</div>
<div data-ui-view=""></div>

