<div class="modal modal-digitalbusiness">
    <div class="modal-backdrop fade in"></div>
    <div class="modal-dialog">
        <form role="form" ng-submit="saveRateContract(editableRateContract)">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">
                        <i class="fa fa-user"></i>
                        Rate Contract Form
                    </h3>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Contract Name</label>
                                <input class="form-control" placeholder="Contract Name" ng-model="editableRateContract.contractName" required=""/>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Contract Description</label>
                                <input class="form-control" placeholder="Contract Description" ng-model="editableRateContract.contractDescription" required=""/>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-show="editableRateContract.repeatName">                        
                        <div class="col-sm-6 text-danger">
                            Found Records For Above Entered Name
                        </div>
                        <div class="col-sm-6">
                            
                        </div>
                    </div>                    

                    <div class="modal-footer">
                        <button class="btn btn-lg btn-primary">
                            <i class="fa fa-save"></i>
                            Save
                        </button>
                        <button type="button"
                                onclick="window.history.back()"
                                class="btn btn-link" >
                            cancel
                        </button>				
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
