<div class="panel panel-default">
    <div class="panel-heading text-center">
        <div class="pull-left">
            <a data-ui-sref="admin.masters"
               class="btn btn-default">
                <i class="fa fa-arrow-left"></i>
                Back
            </a>
        </div>
        <div class="pull-right">
            <a data-ui-sref="admin.masters_kitchen_component.add"
               class="btn btn-default">
                <i class="fa fa-plus"></i>
                Add Kitchen Component
            </a>
        </div>
        <div>
            <h4>Kitchen Component Master</h4>
        </div>
    </div>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th class="text-right">#</th>
                <th>Component</th>
                <th>Component Code</th>
                <th>Category</th>
                <th>Image</th>                
                <th class="text-right">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="kitchenComponent in kitchenComponents track by $index">
                <td class="text-right">{{ currentOffset + $index + 1}}</td>
                <td>{{ kitchenComponent.component}}</td>   
                <td>{{ kitchenComponent.componentCode}}</td>  
                <td>{{ kitchenComponent.category}}</td>
                <td><image ng-src="./rest/kitchen_component/{{kitchenComponent.id}}/attachment" width="150px" height="220px"/></td>                
                <!--<td><image ng-src="{{kitchenComponent.imagePath}}" width="150px" height="220px"/></td>-->                
                <td class="text-right">
                    <a data-ui-sref="admin.masters_kitchen_component.edit({ kitchenComponentId: kitchenComponent.id })"
                       class="btn btn-primary">					
                        <i class="fa fa-pencil"></i>
                    </a>
                    <a data-ui-sref="admin.masters_kitchen_component.delete({ kitchenComponentId: kitchenComponent.id })"
                       class="btn btn-danger">
                        <i class="fa fa-trash"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
    <nav class="panel-footer">
        <ul class="pager">
            <li>
                <button ng-click="previousPage()" 
                        ng-disabled="{{ currentOffset == 0}}" 
                        class="btn btn-default" >
                    <i class="fa fa-arrow-left"></i>
                    Previous
                </button>
            </li>
            <li>
                <button ng-click="nextPage()"
                        ng-disabled="kitchenComponents.length < 10 || nextKitchenComponents.length === 0"
                        class="btn btn-default">
                    Next 
                    <i class="fa fa-arrow-right"></i>
                </button>
            </li>
        </ul>
    </nav>
</div>
<div data-ui-view=""></div>