
<div class="modal modal-digitalbusiness">
    <div class="modal-backdrop fade in"></div>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">
                    Select Image                    
                </h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class='col-sm-6'>
                        <div class='form-group'>
                            <label ng-hide="showDetails === 'false'">Add Attachment</label>
                            <div ng-hide="showDetails === 'false'">

                                <input type="file" name="file" uploader="fileUploader" nv-file-select="">
                            </div>					
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="alert alert-info" ng-show="uploadInProgress">
                            Attachment upload is in progress...
                        </div>
                        <div class="alert alert-warning" ng-show="uploadWarning">
                            Attachment Already Exist
                        </div>
                        <div class="alert alert-danger" ng-show="uploadFailed">
                            Attachment upload failed
                        </div>
                        <div class="alert alert-success" ng-show="uploadSuccess">
                            Attachment upload success
                        </div>
                    </div>
                </div>                
                <div class="row" ng-if="kitchenComponentObject.image !== null">
                    <div class='col-sm-12 text-center'>
                        <image ng-src="./rest/kitchen_component/{{kitchenComponentObject.id}}/attachment" width="300px" height="450px"/>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" 
                        type="button"
                        data-ui-sref="admin.masters_kitchen_component"
                        ng-disabled="kitchenComponentObject.image === null">
                    Save
                </button>
<!--                <button class="btn btn-link" 
                        type="button"
                        onclick="window.history.back()">
                    Cancel
                </button>-->
            </div>

        </div>
    </div>
</div>