<div class="modal modal-digitalbusiness">
    <div class="modal-backdrop fade in"></div>
    <div class="modal-dialog">
        <form role="form" ng-submit="saveHardware(editableHardware)">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">
                        <i class="fa fa-user"></i>
                        Hardware Form
                    </h3>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Product Code</label>
                                <input class="form-control" placeholder="Product Code" ng-model="editableHardware.productCode" required=""/>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Hardware Name</label>
                                <input class="form-control" placeholder="Hardware Name" ng-model="editableHardware.hardwareName" required=""/>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-show="editableHardware.repeatName">
                        <div class="col-sm-6">
                            
                        </div>
                        <div class="col-sm-6 text-danger">
                            Found Records For Above Entered Name
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Price</label>
                                <input type="number" min="0" class="form-control" placeholder="Price of Hardware" ng-model="editableHardware.price" required=""/>
                            </div>
                        </div>
                        <div class="col-sm-6">
<!--                            <div class="form-group">
                                <label>Mobile Number</label>
                                <input type="number"  class="form-control" placeholder="Mobile Number" ng-model="editableEmployee.empMobileNumber" required=""/>
                            </div>-->
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button class="btn btn-lg btn-primary">
                            <i class="fa fa-save"></i>
                            Save
                        </button>
                        <button type="button"
                                onclick="window.history.back()"
                                class="btn btn-link" >
                            cancel
                        </button>				
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
