<div class="panel panel-default">
    <div class="modal-header text-center">
        <h3 class="col-md-12 col-lg-12 col-xs-12">
            Master Menu
        </h3>           
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-2 col-sm-4 col-xs-6">
                <div class="form-group text-center">
                    <a data-ui-sref-active="active" data-ui-sref="admin.masters_agency">
                        <div class="master">                            
                            <img src="images/icons_svg/agency.svg" class="icon_ht">
                        </div> 
                        <span title="Agency Master">Agency Master</span>
                    </a>
                </div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <div class="form-group text-center">
                    <a data-ui-sref-active="active" data-ui-sref="admin.masters_agent">
                        <div class="master">
                            <img src="images/icons_svg/agent.svg" class="icon_ht">
                        </div> 
                        <span title="Agent Master">Agent Master</span>
                    </a>
                </div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <div class="form-group text-center">
                    <a data-ui-sref-active="active" data-ui-sref="admin.amenity_code">
                        <div class="master">
                            <img src="images/icons_svg/amenity_code.svg" class="icon_ht">
                        </div> 
                        <span title="Amenity Code Master">Amenity Code Master</span>
                    </a>
                </div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <div class="form-group text-center">
                    <a data-ui-sref-active="active" data-ui-sref="admin.masters_amenity_detail">
                        <div class="master">
                            <img src="images/icons_svg/amenity_detail.svg" class="icon_ht">
                        </div> 
                        <span title="Country Master">Amenity Detail Master</span>
                    </a>
                </div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <div class="form-group text-center">
                    <a data-ui-sref-active="active" data-ui-sref="admin.masters_amenity">
                        <div class="master">
                            <img src="images/icons_svg/amenity.svg" class="icon_ht">
                        </div>  
                        <span title="Country Master">Amenity Master</span>
                    </a>
                </div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <div class="form-group text-center">
                    <a data-ui-sref-active="active" data-ui-sref="admin.masters_bank">
                        <div class="master">
                            <img src="images/icons_svg/bank.svg" class="icon_ht">
                        </div>  
                        <span  title="Bank Master">Bank Master</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">            
            <div class="col-md-2 col-sm-4 col-xs-6">
                <div class="form-group text-center">
                    <a data-ui-sref-active="active" data-ui-sref="admin.masters_bank">
                        <div class="master">
                            <img src="images/icons_svg/bank_product.svg" class="icon_ht">
                        </div>  
                        <span  title="Bank Product Master">Bank Product Master</span>
                    </a>
                </div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <div class="form-group text-center">
                    <a data-ui-sref-active="active" data-ui-sref="admin.masters_branch">
                        <div class="master">
                            <img src="images/icons_svg/branch.svg" class="icon_ht">
                        </div>
                        <span title="Branch Master">Branch Master</span>
                    </a>
                </div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <div class="form-group text-center">
                    <a data-ui-sref-active="active" data-ui-sref="admin.masters_builder">
                        <div class="master">
                            <img src="images/icons_svg/builder.svg" class="icon_ht">
                        </div> 
                        <span title="Builder Master">Builder Master</span>
                    </a>
                </div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <div class="form-group text-center">
                    <a data-ui-sref-active="active" data-ui-sref="admin.masters_business_associate">
                        <div class="master">
                            <img src="images/icons_svg/business.svg" class="icon_ht">
                        </div> 
                        <span title="Business Associate">Business Associate Master</span>
                    </a>
                </div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <div class="form-group text-center">
                    <a data-ui-sref-active="active" data-ui-sref="admin.masters_country">
                        <div class="master">
                            <img src="images/icons_svg/country.svg" class="icon_ht">
                        </div>  
                        <span title="Country Master">Country Master</span>
                    </a>
                </div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <div class="form-group text-center">
                    <a data-ui-sref-active="active" data-ui-sref="admin.masters_event">
                        <div class="master">
                            <img src="images/icons_svg/event.svg" class="icon_ht">
                        </div> 
                        <span title="Event Master">Event Master</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 col-sm-4 col-xs-6">
                <div class="form-group text-center">
                    <a data-ui-sref-active="active" data-ui-sref="admin.masters_franchise">
                        <div class="master">
                            <img src="images/icons_svg/franchise.svg" class="icon_ht">
                        </div> 
                        <span title="Franchise">Franchise Master</span>
                    </a>
                </div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <div class="form-group text-center">
                    <a data-ui-sref-active="active" data-ui-sref="admin.masters_hospital">
                        <div class="master">
                            <img src="images/icons_svg/hospital.svg" class="icon_ht">
                        </div> 
                        <span title="Hospital Master">Hospital Master</span>
                    </a>
                </div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <div class="form-group text-center">
                    <a data-ui-sref-active="active" data-ui-sref="admin.masters_image">
                        <div class="master">
                            <img src="images/icons_svg/img.svg" class="icon_ht">
                        </div> 
                        <span title="Image Master">Image Master</span>
                    </a>
                </div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <div class="form-group text-center">
                    <a data-ui-sref-active="active" data-ui-sref="admin.masters_inventory">
                        <div class="master">
                            <img src="images/icons_svg/inventory.svg" class="icon_ht">
                        </div> 
                        <span title="Image Master">Inventory Master</span>
                    </a>
                </div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <div class="form-group text-center">
                    <a data-ui-sref-active="active" data-ui-sref="admin.masters_landmark">
                        <div class="master">
                            <img src="images/icons_svg/landmark.svg" class="icon_ht">
                        </div>  
                        <span title="Landmark Master">Landmark Master</span>
                    </a>
                </div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <div class="form-group text-center">
                    <a data-ui-sref-active="active" data-ui-sref="admin.masters_location">
                        <div class="master">
                            <img src="images/icons_svg/location.svg" class="icon_ht">
                        </div>  
                        <span title="Location Master">Location Master</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 col-sm-4 col-xs-6">
                <div class="form-group text-center">
                    <a data-ui-sref-active="active" data-ui-sref="admin.masters_location_category">
                        <div class="master">
                            <img src="images/icons_svg/location_category.svg" class="icon_ht">
                        </div> 
                        <span title="Location Category">Location Category Master</span>
                    </a>
                </div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <div class="form-group text-center">
                    <a data-ui-sref-active="active" data-ui-sref="admin.masters_location_type">
                        <div class="master">
                            <img src="images/icons_svg/location_type.svg" class="icon_ht">
                        </div> 
                        <span title="Location Type">Location Type Master</span>
                    </a>
                </div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <div class="form-group text-center">
                    <a data-ui-sref-active="active" data-ui-sref="admin.masters_market_price">
                        <div class="master">
                            <img src="images/icons_svg/market_price.svg" class="icon_ht">
                        </div> 
                        <span title="Market Price">Market Price Master</span>
                    </a>
                </div>
            </div>            
            <div class="col-md-2 col-sm-4 col-xs-6">
                <div class="form-group text-center">
                    <a data-ui-sref-active="active" data-ui-sref="admin.property_category">
                        <div class="master">
                            <img src="images/icons_svg/prop_category.svg" class="icon_ht">
                        </div> 
                        <span title="Property Category Master">Property Category Master</span>
                    </a>
                </div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <div class="form-group text-center">
                    <a data-ui-sref-active="active" data-ui-sref="admin.masters_property">
                        <div class="master">
                            <img src="images/icons_svg/property.svg" class="icon_ht">
                        </div> 
                        <span title="Property Master">Property Master</span>
                    </a>
                </div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <div class="form-group text-center">
                    <a data-ui-sref-active="active" data-ui-sref="admin.masters_property_type">
                        <div class="master">
                            <img src="images/icons_svg/property_type.svg" class="icon_ht">
                        </div> 
                        <span title="Property Type">Property Type Master</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">     
            <div class="col-md-2 col-sm-4 col-xs-6">
                <div class="form-group text-center">
                    <a data-ui-sref-active="active" data-ui-sref="admin.private_amenities">
                        <div class="master">
                            <img src="images/icons_svg/private_amenity.svg" class="icon_ht">
                        </div> 
                        <span title="Private Amenities Master">Private Amenities Master</span>
                    </a>
                </div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <div class="form-group text-center">
                    <a data-ui-sref-active="active" data-ui-sref="admin.masters_price_range">
                        <div class="master">
                            <img src="images/icons_svg/rupee.svg" class="icon_ht">
                        </div> 
                        <span title="Price Range Master">Price Range Master</span>
                    </a>
                </div>
            </div>       
            <div class="col-md-2 col-sm-4 col-xs-6">
                <div class="form-group text-center">
                    <a data-ui-sref-active="active" data-ui-sref="">
                        <div class="master">
                            <img src="images/icons_svg/presence.png" class="icon_ht">
                        </div> 
                        <span title="Presence Master"> Presence Master</span>
                    </a>
                </div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <div class="form-group text-center">
                    <a data-ui-sref-active="active" data-ui-sref="admin.masters_project">
                        <div class="master">
                            <img src="images/icons_svg/project.svg" class="icon_ht">
                        </div> 
                        <span title="Project Master">Project Master</span>
                    </a>
                </div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <div class="form-group text-center">
                    <a data-ui-sref-active="active" data-ui-sref="admin.masters_raw_market_price">
                        <div class="master">
                            <img src="images/icons_svg/raw_market.svg" class="icon_ht">
                        </div> 
                        <span title="Raw Market Price">Raw Market Price Master</span>
                    </a>
                </div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <div class="form-group text-center">
                    <a data-ui-sref-active="active" data-ui-sref="admin.masters_road">
                        <div class="master">
                            <img src="images/icons_svg/road.svg" class="icon_ht">
                        </div> 
                        <span title="Road Master">Road Master</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">   
            <div class="col-md-2 col-sm-4 col-xs-6">
                <div class="form-group text-center">
                    <a data-ui-sref-active="active" data-ui-sref="admin.masters_ready_reckoner">
                        <div class="master">
                            <img src="images/icons_svg/rr.svg" class="icon_ht">
                        </div> 
                        <span title="Ready Reckoner Master">Ready Reckoner Master</span>
                    </a>
                </div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <div class="form-group text-center">
                    <a data-ui-sref-active="active" data-ui-sref="admin.masters_salary_range">
                        <div class="master">
                            <img src="images/icons_svg/salary.svg" class="icon_ht">
                        </div> 
                        <span title="Salary Range Master">Salary Range Master</span>
                    </a> 
                </div>
            </div>         
            <div class="col-md-2 col-sm-4 col-xs-6">
                <div class="form-group text-center">
                    <a data-ui-sref-active="active" data-ui-sref="admin.masters_safedeal_zone">
                        <div class="master">
                            <img src="images/icons_svg/sd_zone.svg" class="icon_ht">
                        </div> 
                        <span title="Safedeal Zone Master">Safedeal Zone Master</span>
                    </a>
                </div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <div class="form-group text-center">
                    <a data-ui-sref-active="active" data-ui-sref="admin.masters_society_maintenance">
                        <div class="master">
                            <img src="images/icons_svg/society_maintenance.svg" class="icon_ht">
                        </div> 
                        <span title="Society Maintenance">Society Maintenance</span>
                    </a>
                </div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <div class="form-group text-center">
                    <a data-ui-sref-active="active" data-ui-sref="admin.team">
                        <div class="master">
                            <img src="images/icons_svg/team.svg" class="icon_ht">
                        </div> 
                        <span title="Team Master">Team Master</span>
                    </a>
                </div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <div class="form-group text-center">
                    <a data-ui-sref-active="active" data-ui-sref="admin.testimonial">
                        <div class="master">
                            <img src="images/icons_svg/testimonials.svg" class="icon_ht">
                        </div> 
                        <span title="Testimonial Master">Testimonial Master</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="row"> 
            <div class="col-md-2 col-sm-4 col-xs-6">
                <div class="form-group text-center">
                    <a data-ui-sref-active="active" data-ui-sref="admin.transportation">
                        <div class="master">
                            <img src="images/icons_svg/transportation.svg" class="icon_ht">
                        </div> 
                        <span title="Transportation Master">Transportation Master</span>
                    </a>
                </div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <div class="form-group text-center">
                    <a data-ui-sref-active="active" data-ui-sref="admin.masters_user">
                        <div class="master">
                            <img src="images/icons_svg/user.svg" class="icon_ht">
                        </div> 
                        <span title="User">User Master</span>
                    </a>
                </div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <div class="form-group text-center">
                    <a data-ui-sref-active="active" data-ui-sref="admin.masters_unit">
                        <div class="master">
                            <img src="images/icons_svg/unit.svg" class="icon_ht">
                        </div> 
                        <span title="Unit">Unit Master</span>
                    </a>
                </div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <div class="form-group text-center">
                    <a data-ui-sref-active="active" data-ui-sref="admin.masters_video">
                        <div class="master">
                            <img src="images/icons_svg/video.svg" class="icon_ht">
                        </div> 
                        <span title="Location Type">Video Master</span>
                    </a>
                </div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <div class="form-group text-center">
                    <a data-ui-sref-active="active" data-ui-sref="admin.masters_workplace_area">
                        <div class="master">
                            <img src="images/icons_svg/workplace.svg" class="icon_ht">
                        </div> 
                        <span title="Salary Range Master">Workplace Area Master</span>
                    </a>
                </div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <div class="form-group text-center">
                    <a data-ui-sref-active="active" data-ui-sref="admin.masters_workplace_category">
                        <div class="master">
                            <img src="images/icons_svg/workplace_category.svg" class="icon_ht">
                        </div> 
                        <span title="Workplace Category Master">Workplace Category Master</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 col-sm-4 col-xs-6">
                <div class="form-group text-center">
                    <a data-ui-sref-active="active" data-ui-sref="admin.masters_workplace_category_detail">
                        <div class="master">
                            <img src="images/icons_svg/workplace_detail.svg" class="icon_ht">
                        </div> 
                        <span title="Workplace Category Master">Workplace Category Detail Master</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>