<div class="modal modal-digitalbusiness">
    <div class="modal-backdrop fade in"></div>
    <div class="modal-dialog">
        <form role="form" ng-submit="saveReason(editableReason)">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">
                        <i class="fa fa-user"></i>
                        Reason Form
                    </h3>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Reason</label>
                                <input class="form-control" placeholder="Reason" ng-model="editableReason.reason" required=""/>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Description</label>
                                <input class="form-control" placeholder="Description" ng-model="editableReason.description"/>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-show="editableReason.repeatName">
                        <div class="col-sm-6 text-danger">
                            Found Records For Above Entered Name
                        </div>
                        <div class="col-sm-6">
                            
                        </div>                        
                    </div>                    

                    <div class="modal-footer">
                        <button class="btn btn-lg btn-primary">
                            <i class="fa fa-save"></i>
                            Save
                        </button>
                        <button type="button"
                                onclick="window.history.back()"
                                class="btn btn-link" >
                            cancel
                        </button>				
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
